header{
    border: 1px solid black; 
    background-color: #e9ecef; 
    
}

.esquerda_cabecalho{
    display: flex;
    align-items: center;
    font-size:xx-large;
}

.direita_cabecalho{
    display: flex;
    justify-content: space-between; 
    padding: 16px;
}

.config{
    display: flex;  
    flex-direction: column;
    gap: 30px;
}

li{
    list-style-type: none;
}

.contents{
    display: flex;

}

aside{
    
    display: flex;
    border: 1px solid black ;
    background-color: #e9ecef ;
    width: 180px;
    height:100vh;
    padding: 20px;
    margin-top: 5px;
    flex-direction: column;
    gap: 30px;
}

main{
    display: flex;
    border: 1px solid black ;
    background-color: #e9ecef ;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
    height:100vh;
    padding: 20px;
    margin-top: 5px;
    
}

.listbanner{
    display: flex;
    align-items: flex-start;
}